<h1>게시물 목록</h1>
<style>
    .table-1 {
        border-collapse: collapse;
    }

    .table-1 th, .table-1 td {
        border: 1px solid black;
        padding: 10px;
    }
</style>


<form>
    <div style="display:flex; gap:10px;">
        <label><input name="kwType" type="checkbox" value="authorUsername"><span>작성자</span></label>
        <label><input name="kwType"  type="checkbox"
                      value="title"><span>제목</span></label>
        <label><input name="kwType"  type="checkbox"
                      value="body"><span>내용</span></label>
        <label><input name="kwType"  type="checkbox"
                      value="tagContent"><span>태그</span></label>
        <label><input name="kwType"  type="checkbox"
                      value="commentAuthorUsername"><span>댓글 작성자</span></label>
        <label><input name="kwType"  type="checkbox" value="commentBody"><span>댓글 내용</span></label>
    </div>
    <input name="kw" placeholder="검색어"  type="search">
    <input type="submit" value="검색">
</form>
<div>
    <table class="table-1">
        <thead>
        <tr>
            <th>id</th>
            <th>createdDate</th>
            <th>updatedDate</th>
            <th>title</th>
            <th>body</th>
        </tr>
        </thead>
        <tbody>

        </tr>
        </tbody>
    </table>
</div>

